body {
    text-align: center;
}

.italic {
    font-style: italic;
}

#frame {
    margin-top:15px;
    width:440px;
  }
  
#left {
    float: left;
    width: 130px;
}

div.field {
    text-align: right;
    margin-bottom: 5px;
}
